<div class="home">
  <div class="container">
    <div class="title">
      <div class="title-text">
        Путешествуйте <br>вместе с другими <br> пользователями
      </div>
      <div class="title-logo">
        <%= image_tag "home/main-logo.png"%>
      </div>
    </div>
    <div class="chapter">
      <div class="chapter-border">
        <div class="chapter-block">
          <div class="chapter-title">О нас</div>
        </div>
      </div>
    </div>
    <div class="phone-box">
      <div class="phone-box__title">Все маршруты и места для <br>посещения создают пользователи,<br> а мы поможем вам осуществить
        <br>путешествие</div>
      <div class="phone-box__image">
        <%= image_tag "home/phone-1.jpg"%>
      </div>
    </div>
    <div class="chapter">
      <div class="chapter-border">
        <div class="chapter-block">
          <div class="chapter-title">Как это работает?</div>
        </div>
      </div>
    </div>
    <div class="how-work">
      <div class="how-work-box">
        <div class="how-work-box__circle">
          <%= image_tag "home/circle-1.jpg"%>
        </div>
        <div class="how-work-box__text">
          Путешественник или местный житель рассказывает
          что стоить посетить и объясняет: кому такой тур понравится, а кому нет
        </div>
      </div>
      <div class="how-work-box">
        <div class="how-work-box__circle">
          <%= image_tag "home/circle-2.jpg"%>
        </div>
        <div class="how-work-box__text">
          Наш сервис просит вас описать свое путешествие мечты: что вам нравится, а что нет. Затем мы выводим вам наиболее подходящие туры и вам остается лишь выбрать тур
        </div>
      </div>
      <div class="how-work-box">
        <div class="how-work-box__circle">
          <%= image_tag "home/circle-3.jpg"%>
        </div>
        <div class="how-work-box__text">
          Мы поможем вам рассчитать даты, купить билеты и забронировать номер. Теперь вам остается только дождаться путешествия
        </div>
      </div>
    </div>
    <div class="phone-box mb-100">
      <div class="phone-box__title phone-title-36">Наш сервис создан для тех путешественников, <br>которым также, как и нам не нравятся
        <br>экскурсии с толпами людей, ограниченностью <br>передвижения и скованности по времени. </div>
      <div class="phone-box__image">
        <%= image_tag "home/phone-2.jpg"%>
      </div>
    </div>
    <div class="phone-box">
      <div class="phone-box__title phone-title-36">В нашем приложении, местные жители <br>или опытные туристы сами составят для вас
        <br>маршрут, в который будут включены лучшие <br>заведения, достопримечательности, и даже <br>гостиницы</div>
      <div class="phone-box__image">
        <%= image_tag "home/phone-3.jpg"%>
      </div>
    </div>
    <div class="chapter">
      <div class="chapter-border">
        <div class="chapter-block">
          <div class="chapter-title">Туры недели</div>
        </div>
      </div>
    </div>
    <div class="posts">
      <div class="week-tour">
        <div class="week-box">
          <div class="week-box__image-rating">
            <div class="week-box__image">
              <%= image_tag "home/post-1.jpg"%>
              <div class="week-box__rating">
                <div class="rating__background rating-red">
                  <div class="rating-text"><p>1.5</p></div>
                </div>
              </div>
            </div>
          </div>
          <div class="post-information">
            <div class="post-information__city">
              <div class="city-block-border">
                <div class="city-block">Калининград</div>
              </div>
            </div>
            <div class="post-information__duration-review">
              <div class="post-information__duration">От 5 до 8 дней</div>
              <div class="post-information__review">12 отзывов</div>
            </div>
            <div class="post-information__description">В ходе моего тура вы побываете в центре города, увидите живописные пейзажи
              и сможете посетить лучшие заведения города</div>
            <div class="post-information__interests">Интересно дизайнерам</div>
            <div class="post-information__price-go">
              <div class="post-information__price">45 000 руб.</div>
              <div class="post-information__go">Поехали!</div>
            </div>
          </div>
        </div>
      </div>
      <div class="week-tour">
        <div class="week-box">
          <div class="week-box__image-rating">
            <div class="week-box__image">
              <%= image_tag "home/post-2.jpg"%>
              <div class="week-box__rating">
                <div class="rating__background rating-yellow">
                  <div class="rating-text"><p>5</p></div>
                </div>
              </div>
            </div>
          </div>
          <div class="post-information">
            <div class="post-information__city">
              <div class="city-block-border">
                <div class="city-block">Москва</div>
              </div>
            </div>
            <div class="post-information__duration-review">
              <div class="post-information__duration">7 дней</div>
              <div class="post-information__review">3 отзывов</div>
            </div>
            <div class="post-information__description">Этот тур я сделал для тех, кто везде путешествует с семьей. Здесь будут только
              те места, где вам будет комфортно вместе</div>
            <div class="post-information__interests">Отдых с семьей</div>
            <div class="post-information__price-go">
              <div class="post-information__price">125 000 руб.</div>
              <div class="post-information__go">Поехали!</div>
            </div>
          </div>
        </div>
      </div>
      <div class="week-tour">
        <div class="week-box">
          <div class="week-box__image-rating">
            <div class="week-box__image">
              <%= image_tag "home/post-3.jpg"%>
              <div class="week-box__rating">
                <div class="rating__background rating-green">
                  <div class="rating-text"><p>10</p></div>
                </div>
              </div>
            </div>
          </div>
          <div class="post-information">
            <div class="post-information__city">
              <div class="city-block-border">
                <div class="city-block">Н.Новгород</div>
              </div>
            </div>
            <div class="post-information__duration-review">
              <div class="post-information__duration">3 дней</div>
              <div class="post-information__review">25 отзывов</div>
            </div>
            <div class="post-information__description">В моем туре я проведу вас по лучшим тусовочным заведениям в городе</div>
            <div class="post-information__interests">Для любителей выпить</div>
            <div class="post-information__price-go">
              <div class="post-information__price">75 000 руб.</div>
              <div class="post-information__go">Поехали!</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="footer-box">
        <div class="footer-info">
          <div class="info-title">Вы можете продолжить <br>
            в нашем приложении</div>
          <div class="info-registration">
            <div class="registration-title">Зарегестрируйтесь сейчас</div>
            <div class="registration-button">
              <%= link_to 'Начать путь', new_user_registration_path %>
            </div>
          </div>
          <div class="info-socnet">
            <div class="socnet-title">Мы в соцсетях</div>
            <div class="socnet-list">
              <ul>
                <li>— <a href="#">Instagram</a></li>
                <li>— <a href="#">facebook</a></li>
                <li>— <a href="#">Vkontakte</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-image">
          <%= image_tag "home/phone-4.png"%>
        </div>
      </div>
    </div>
  </div>
</div>





