<div class="container">
  <div class="header">
<!--    <div class="random">-->
      <div class="logo">UserTure</div>
      <div class="nav">
        <ul>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Promo", promo_path %></li>
          <li><%= link_to "Posts", posts_path %></li>
        </ul>
      </div>
<!--    </div>-->
  </div>
</div>
<div class="bg bg-1">
  <div class="container">
    <div class="center">
      <div class="title">ВЫБЕРИТЕ СВОЙ ПУТЬ</div>
    </div>
  </div>
</div>
<div class="bg bg-2">
  <div class="container">
    <div class="center">
      <div class="title">ПРОДОЛЖИТЕ ДРУГОЙ</div>
    </div>
  </div>
</div>
<div class="bg bg-3">
  <div class="container">
    <div class="center">
      <div class="title">НЕ ОСТАНАВЛИВАЙТЕСЬ НА ДОСТИГНУТОМ</div>
    </div>
  </div>
</div>
<div class="bg bg-4">
  <div class="container">
    <div class="center">
      <div class="title">В МИРЕ ВСЕ СЛИШКОМ ИНТЕРЕСНО</div>
    </div>
  </div>
</div>
<div class="bg bg-5">
  <div class="container">
    <div class="form-box">
      <div class="title">ПРИСОЕДИНИСЬ К СООБЩЕСТВУ ПУТЕШЕСТВЕННИКОВ</div>
      <div class="form">
        <%= render "subscribers/form" %>
      </div>
      <div class="footer">
        <ul>
          <li><a href="#"><%= image_tag "pied-piper.svg"%></a></li>
          <li><a href="#"><%= image_tag "facebook.svg"%></a></li>
          <li><a href="#"><%= image_tag "inst.svg"%></a></li>
          <li><a href="#"><%= image_tag "vk.svg"%></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>