<div class="authorization">
  <div class="left">
    <a href="/home">
      <img src="/assets/logo.svg" alt="">
    </a>
    <img src="/assets/logInBG.png" alt="">
  </div>
  <div class="right">
    <h2>Забыли пароль?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="inputs">
        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Почта"%>
        </div>

        <div class="action log-in-btn resend">
          <%= f.submit "Отправить инструкцию на почту" %>
        </div>
      </div>

      <div class="links">
        <%= render "devise/shared/links" %>
      </div>
    <% end %>


  </div>

</div>
<script type="text/javascript" charset="utf-8">
    document.querySelector('.header').remove()
</script>

