<div class="box-change">
  <%= form_with(model: post, local: true) do |form| %>
    <% if post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="field">
        <%= form.text_field :title, placeholder: 'Заголовок' %>
      </div>
      <div class="field">
        <%= form.select :category_id, Category.pluck(:name, :id) %>
      </div>
      <div class="field">
        <%= form.text_field :timeBypass, placeholder: 'Время прохождения' %>
      </div>
    </div>

    <div class="row">
      <div class="field">
        <%= form.text_field :country, placeholder: 'Страна' %>
      </div>

      <div class="field">
        <%= form.text_field :city, placeholder: 'Город' %>
      </div>

      <div class="field">
        <%= form.text_field :interests, placeholder: 'Кому интересно?' %>
      </div>

      <div class="field">
        <%= form.text_field :price, placeholder: 'Затраченная сумма' %>
      </div>
      <div class="row">
        <div class="field">
          <%= form.text_field :description, placeholder: 'Короткое описание' %>
        </div>
      </div>
    </div>



    <div class="row">
      <div>
        <%= form.cktext_area :content %>
      </div>
    </div>


    <div class="image">
      <%= image_tag(@post.image.url, alt: 'Image') if @post.image? %>
    </div>

    <div class="field-image">
      <%= form.file_field :image %>
    </div>

    <div class="field actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>