<div class="posts">
  <div class="container">
    <div class="header-post">
      <div class="nav">
        <% if user_signed_in? %>
          <%= link_to 'Edit', edit_post_path(@post) %>
        <% end %>
      </div>
    </div>

    <% if user_signed_in? %>
      <% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
      <% if pre_like %>
        <%= button_to 'Unlike', post_like_path(@post, pre_like), method: :delete %>
      <% else %>
        <%= button_to 'Like', post_likes_path(@post), method: :post %>
      <% end %>
    <% end %>

    <p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
    <% if user_signed_in? %>
      <% pre_favorite = @post.favorites.find { |favorite| favorite.user_id == current_user.id} %>
      <% if pre_favorite %>
        <%= button_to 'Remove from Favorite', post_favorite_path(@post, pre_favorite), method: :delete %>
      <% else %>
        <%= button_to 'Add to Favorite', post_favorites_path(@post), method: :post %>
      <% end %>
    <% end %>


    <div class="show-box">
      <div class="post-content">
        <div class="image">
          <%= image_tag(@post.image.url, alt: 'Image') if @post.image? %>
        </div>
        <div class="post-information">
          <p>
            <strong>Author:</strong>
            <%= @post.author %>
          </p>

          <p>
            <strong>Title:</strong>
            <%= @post.title %>
          </p>

          <p>
            <strong>Content:</strong>
            <%= @post.content.html_safe %>
          </p>
          <p>
            <strong>Country:</strong>
            <%= @post.country %>
          </p>
          <p>
            <strong>City:</strong>
            <%= @post.city %>
          </p>

          <p>
            <strong>Category:</strong>
            <%= @post.category.name %>
          </p>

          <p>
            <strong>Interests:</strong>
            <%= @post.interests %>
          </p>

          <p>
            <strong>Timebypass:</strong>
            <%= @post.timeBypass %>
          </p>

          <p>
            <strong>Price:</strong>
            <%= @post.price %>
          </p>
        </div>
      </div>


      <div class="comment-box">
        <div class="comments">
          <h2>Comments</h2>
          <%= render @post.comments %>
        </div>

        <div class="add-comment">
          <h2>Add comment</h2>
          <% if user_signed_in? %>
            <%= render "comments/form" %>
          <% else %>
            <p>Please <%= link_to 'login', new_user_session_path %> or <%= link_to 'register', new_user_registration_path %> to comment.</p>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>