<!DOCTYPE html>
<html>
  <head>
    <title>UserTour</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% elsif alert %>
    <p class="alert"><%= alert %></p>
  <% end %>

  <body>
    <div class="header">
      <div class="header-to-login">
        <div class="container">
          <div class="header-row">
            <div class="header-to-login">
              <% if user_signed_in? %>
                <%= link_to 'Your Profile', current_user %> or <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
              <% else %>
                <%= link_to 'Sign In', new_user_session_path %> or
                <%= link_to 'Sign Up', new_user_registration_path %>
              <% end %>
            </div>
            <div class="categories-bar">
              <% if user_signed_in? && current_user.isadmin == true %>
                <%= link_to 'Categories', categories_path %>
                <%= link_to 'Users', users_path %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="header-row">
          <div class="header-row__logo">UserTour</div>
<!--          <div class="categ">-->
            <%# Category.where(display_in_navbar: true).each do |cat| %>
              <%#= link_to cat.name, posts_path(category: cat.name) %>
            <%# end %>
<!--          </div>-->
          <div class="header-row__link-list">
            <ul>
              <li><%= link_to "Home", home_path %></li>
              <li><%= link_to "About", about_path %></li>
              <li><%= link_to "Promo", promo_path %></li>
              <li><%= link_to "Posts", posts_path %></li>
              <li><%= link_to 'New Post', new_post_path, class: 'new-post'%></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="main">
      <%= yield %>
    </div>
    <%= javascript_include_tag Ckeditor.cdn_url %>
  </body>
</html>
